---
layout: page
---
{{ content }}

{% if page.collection and page.collection.size > 0 %}
  {% assign collection = site[page.collection] %}
  {% if collection and collection.size > 0 %}
    <div class="art-gallery">
      {% for item in collection reversed %}
        <div class="art-piece">
          <div class="art-info">
            <h2>{{ item.title }}</h2>
            {% if item.spotify_song %}
              <a class="spotify-link" href="{{ item.spotify_song }}" target="_blank">
                <img src="{{ '/assets/img/spotify_logo.svg' | relative_url }}" alt="Listen on Spotify" class="spotify-logo">
                <span>Listen on Spotify</span>
              </a>
            {% endif %}
          </div>
          <div class="art-image">
            <img src="{{ item.image | relative_url }}" alt="{{ item.title }}" class="drawing">
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
